
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GloFIM Gateway</title>
    <style>
    a:link{color:black;}
    a:visited{color:black;}
  </style>
</head>
<body>
  <h1>Welcome to the Global Flooding Impact Monitoring Gateway!</h1>
  <p> Welcom to the Global Flooding Impact Monitoring Gateway, here you can use the GloFIM Apps to predict the flooding affection.</p>
  <div>
    <h2>Low resolusion impact monitoring</h2><br>
    <a href = "{% url 'global_floods_django_app:pick' %}"><button>Connecting to MoM track2 Output</button></a>
    <a href = "{% url 'global_floods_django_app:draw' %}"><button>User-defined: Polygon</button></a>
    <a href = "{% url 'global_floods_django_app:upload' %}"><button>User-defined: GeoJson</button></a>
    <br>
    <h2>High resolusion impact monitoring</h2>
  </div>
  {% if messages %}
       <script>
           {% for msg in messages %}
               alert('{{ msg.message }}');
           {% endfor %}
       </script>
   {% endif %}

  <div class="map">
    <form method="post" action="">
        {% csrf_token %}
        <h3>Please choose the date for MoM track2 output file</h3>
        <br>
        the date for MoM track2 output file:<br>
        Pre-event date:<input type="date" name="pre-event"><br>
        Post-event date:<input type="date" name="post-event"><br>
        Please click your interested event from the left map and details will show in right map; <br>
        {{ map|safe }}
        {% if result %}
          <p><input type="submit" value="Download Result" name = "download"></p>
        {% else %}
          <p><input type="submit" value="Run Model" name = "run-model"></p>
        {% endif %}
      </form>
  </div>
</body>
</html>
