
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Global Flooding Monitor Gateway</title>
    <style>
    a:link{color:black;}
    a:visited{color:black;}
  </style>
</head>
<body>
  <h1>Welcome to the Global Flooding Impact Monitoring Gateway!</h1>
  <p> Welcom to the Global Flooding Impact Monitoring Gateway, here you can use the GloFIM Apps to predict the flooding affection.</p>
  <div>
    <h2>Low resolusion impact monitoring</h2><br>
    <a href = "{% url 'global_floods_django_app:pick' %}"><button>Connecting to MoM track2 Output</button></a>
    <a href = "{% url 'global_floods_django_app:draw' %}"><button>User-defined: Polygon</button></a>
    <a href = "{% url 'global_floods_django_app:upload' %}"><button>User-defined: GeoJson</button></a>
    <br>
    <h2>High resolusion impact monitoring</h2>
  </div>
  <form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
        <h2>Please upload geojson file and choose pre-event date and post-event date</h2>
        <br>
        Pre-event date:<input type="date" name="pre-event"><br>
        Post-event date:<input type="date" name="post-event"><br>
        Please upload Geojson file for your area of interested; <br>
        <input type="file" accept=".geojson" name="myfile"><br>
        <input type="submit" value="upload" name = "ufile">
        {% if result %}
          <p><input type="submit" value="Download Result" name = "download"></p>
        {% else %}
          <p><input type="submit" value="Run Model" name = "run-model"></p>
        {% endif %}
        <div class="map">
        {{ map|safe }}
        </div>
    </form>

</body>
</html>
